<ion-view view-title="Dashboard" class="purple-back" style="background-image: url(img/logot.png);
    background-position: center 150px;
    background-size: 300px;
    background-repeat: no-repeat;
    ">
  <ion-content class="padding" id="dashboard">
    <!---- Thought of the day --->
      <div id="#ii" class="list card">
        <div class="item item-body">
         
          <b>Thought of The Day!</b>
          <p>
             Try Try Try, Until you get success.
          </p>
        </div>
      </div>    
    <!--------------------------->
        <!---- Thought of the day --->
      <div class="list card">
        <div class="item item-body">
      
          <b>Today's Event</b>
          <p>
             Parents-Teachers Meeting at 11:00 AM.
          </p>
        </div>
      </div>   
  </ion-content>
</ion-view>