#complaints{
    @extend #login-view;
    margin-bottom: 0px;
}

.complaint-ion-ios-people,
.complaint-ion-ios-flower-outline {
    @extend .sidebar-ion-home;
    @include border-top(2px solid $background-color);
    color: $color-white;
    & + span {
        color: $color-white;
    }
}

.complaints-tab {
    background-color: $btn-bg-color;
    color: $color-white;
}

select {
    width: $width;
    height: 50px;
    color: $btn-bg-color;
    background-color: $background-color;
}

.ComplaintSpace {
    margin-bottom: 3px;
    // background-color: transparent !important;
    a {
        padding: 0px 0px 0px 10px !important;
        // background-color: transparent !important;
    }
    a.activated {
        background-color: #E0E3F3 !important;
    }
}

.card-text {
    font-size: $custom-textbox-font-size - 5px;
}

.card-complaint {
    margin: 5px 5px;
}

.item-stacked-label {
    span:first-child {
        &::after {
            content: "*";
            color: red;
            margin-left: 4px;
        }
    }
    background: $color-white;
}

.button-to-select {
    background-color: #B1B3EE !important;
    color: $color-white !important;
}

.button-block-margin {
    margin: 5%;
    width: $width - 10% !important;
    background-color: $btn-bg-color !important;
    color: $color-white !important;
    padding: 0px 20px;
    font-size: $custom-textbox-font-size;
}

.button-block-margin:active {
    background-color: #B1B3EE  !important;
    border-color: $btn-bg-color;
    color: $btn-bg-color !important;
}

#otherData {
    display: none;
    margin: 10px 10px 0px 10px;
}

#subCategory {
    display: none;
}

#teacher {
    display: none;
}


a.tab-item {
    color: $color-white !important;
}

.viewComplaint {
    margin-bottom: 44px;
}

.commentListMarginBottom {
    margin-bottom: 42px;
    .item {
        padding: 9px 9px 6px 11px;
        .commentParentName {
            color: forestgreen;
            font-size: small;
            font-weight: 600;
            width: 65%;
            float: left;
        }
        .commentCreateDate {
            text-align: right;
            font-size: smaller;
        }
    }
}

.commentForm {
    background-color: $btn-bg-color;
    height: 12%;
    width: $width;
    position: fixed;
    bottom: 0;
    textarea {
        background-color: $transparent;
        width: $width - 20%;
        resize: none;
        margin-top: 2px;
        color: $color-white;
        height: $height - 20% ;
        position: absolute;
    }
    .commentBtn {
        top: 50%;
        margin-top:0;
        height: $height ;
        position: absolute;
        transform: translateY(-50%);
        color: $color-white;
        button {
            color: $color-white;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}