#complaints{
    @extend #login-view;
    margin-bottom: 0px;
}

.teacher-comment-list {
    .list:last-child {
        margin-bottom: 63px !important;
    }
}

.teacher-complaint-list {
    .list:last-child {
        margin-bottom: 0px !important;
    }
}

.complaint-ion-ios-people,
.complaint-ion-ios-flower-outline {
    @extend .sidebar-ion-home;
    @include border-top(2px solid $background-color);
    color: $color-white;
    & + span {
        color: $color-white;
    }
}

.complaints-tab {
    background-color: $btn-bg-color;
    color: $color-white;
}

select {
    width: 100%;
    height: 50px;
    color: $btn-bg-color;
    background-color: $background-color;
}

.ComplaintSpace {
    margin-bottom: 3px;
    // background-color: transparent !important;
    a {
        padding: 0px 49px 0px 16px !important;
        // background-color: transparent !important;
    }
    a.activated {
        background-color: #E0E3F3 !important;
    }
}

.card-text {
    font-size:13px;
}
.card-complaint {
    margin:5px 5px;
}

.item-stacked-label {
    span:first-child {
        &::after {
            content: "*";
            color: red;
            margin-left: 4px;
        }
    }
    background: white;
}

.button-to-select {
    background-color: #B1B3EE !important;
    color:$color-white !important;
}

.button-block-margin {
    margin: 5%;
    width: 90% !important;
    background-color: #5051A6 !important;
    color: $color-white !important;
    padding: 0px 20px;
    font-size: 18px;
}

.button-block-margin:active {
    background-color: #B1B3EE  !important;
    border-color:#5051A6;
    color:#5051A6 !important;
}

#otherData {
    display:none;
    margin:10px 10px 0px 10px;
}

#subCategory {
    display: none;
}

#teacher {
    display: none;
}

textarea {
    resize: none;
    padding: 8px;
    line-height: 17px;
}

// .txtAreaComment {
//     background-color: green !important;
//     color: black !important;
//     border: none !important;
//     // height: 63px !important;
// }

/**
* To change add complaint style remove below comment

.trans-back {
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
}

span.input-label {
    color: white;
}

.input-style {
    width: 90% !important;
    margin: 5% !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding-left: 5px  !important;
    padding-right: 5px  !important;
    color: white  !important;
}

.form-select {
    background-color: transparent;
    color: white;
}

.checkbox-circle {

}
*/