.ion-nifty-modal .ion-modal-content-custom {
   background-color: $color-white;  
}

.complaint-ion-nifty-modal {
   height: auto !important;
   top: 20% !important;
   bottom: 20% !important;
}

.scroll-content {
   margin-bottom: 50px;
}

#complaints{
   @extend #login-view;
   margin-bottom: 0px;
}