.login-ion-person {
    font-size: $custom-icon-font-size;
    &:first-child {
        padding-right: 15px;
    }
}

.login-ion-locked {
    @extend .login-ion-person;
}

.loginUsername {
    font-size: $custom-icon-font-size !important;
    padding-right: 25px !important;
    letter-spacing: 1px;
}

.login-item-input {
    margin-bottom: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightseagreen;
}

.loginPassword {
    @extend .loginUsername;
}

.login-item-radio {
    input {
        &:checked {
            + .radio-content {
                .item-content {
                    background: $positive !important;
                    color: $color-white;
                }
            }
        }
    }
}

.login-item-content {
    padding-right: 45px;
}

.confirmLogout {
    .button.button-default {
        background-color: lightcoral !important;
        color: #fff;
    }
}

.loginRemovePadding {
    padding: 1px;
    .col {
        padding: 1px;
    }
}

.login-ion-person-stalker {
    padding-top: 10px !important;
    color: $color-white;
}

.login-ion-university {
    @extend .login-ion-person-stalker;
}