.login-ion-person {
    font-size: $custom-icon-font-size;
    &:first-child {
        padding-right: 15px;
    }
}

.login-ion-locked {
    @extend .login-ion-person;
}

.loginUsername {
    font-size: $custom-icon-font-size !important;
    padding-right: 25px !important;
    letter-spacing: 1px;
}

.login-item-input {
    margin-bottom: 5px;
    background: transparent;
    border: none;
    @include border-bottom(1px solid lightseagreen);
}

.loginPassword {
    @extend .loginUsername;
}

.login-item-radio {
    input {
        &:checked {
            + .radio-content {
                .item-content {
                    background: $btn-bg-color;
                    color: #bdc3c7;
                }
            }
        }
    }
}

.login-item-content {
    padding-right: 45px;
}

.confirmLogout {
    .button.button-default {
        background-color: lightcoral !important;
        color: #bdc3c7;
    }
}

.loginRemovePadding {
    padding: 1px;
    .col {
        padding: 1px;
    }
}

.login-ion-person-stalker {
    padding-top: 10px !important;
    color: #bdc3c7;
}

.login-ion-university {
    @extend .login-ion-person-stalker;
}

.list-inset {
	background-color: transparent !important;
}

.button {
	.login-ion-arrow-right-c {
		&:before {
			font-size: 30px;
		}
	}
}

// .watermark {
//     background-image: url(/img/logot.png);
//     background-position: 50% 50%;
//     background-size: 60% 40%;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
// }

#login-view{
    background-color: $background-color;
}

.login-btn-purpleb {
    @include setLinkSelectorStyle {
        background-color: $btn-bg-color;
        line-height: 36px;
        min-height: 38px;
        @include border-radius(0px);
        margin-top: 27px !important;
    }
    &.activated {
        background-color:#ae70d7;
    }
    color: $color-white;
}