.sidebar-purplel {
    background-color: #ae70d7;
    color: $color-white;
}

.sidebar-header {
   background-color: $btn-bg-color;
   color: $color-white;
}

.item-complex .item-content {
   background-color:#ae70d7 !important;
   color: $color-white;
}
