.sidebar-purplel {
    background-color: #5051A6;
    color: $color-white;
}

.sidebar-header {
   background-color: $btn-bg-color;
   color: $color-white;
}

.item-complex .item-content {
   background-color:#b2b4ee !important;
   color: $color-white;
}

.tab-nav {
   background-color: #5051A6;
}

.item-complex .item-content:active {
   background-color: #8587C6 !important;   
}