.sidebar-purplel {
    background-color: #5051A6;
    color: $color-white;
}

.sidebar-header {
   background-color: $btn-bg-color;
   color: $color-white;
}

.sidebar-item-content {
    a {
        background-color:#b2b4ee !important;
        color: $color-white !important;
    }
}

.tab-nav {
   background-color: #5051A6;
}

.item-complex .item-content:active {
   background-color: #8587C6 !important;   
}

.sidebar-ion-navicon {
    color: $color-white !important;
}

.sidebar-header-title {
    color: $color-white;
}