$color-black_30: rgba(0, 0, 0, 0.3);
$color-black_100: rgba(0, 0, 0, 1);
$color_celeste_approx: #ccc;
.tabbed-slidebox {
	.slider {
		height: 100%;
	}
	.slider-slides {
		width: 100%;
	}
	.slider-slide {
		padding-top: 0;
		color: $color-black;
	
		text-align: center;
		font-weight: 300;
	
	}
	.tsb-icons {
		text-align: center;
		margin: 10px 0;
		position: relative;

		a {
			display: inline-block;
			width: 54px;
			font-size: 2.5em;
			color: $color-black_30;
			&.active {
				color: $color-black_100;
				font-size: 3.5em;
			}
		}
		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 1.4em 1.4em 1.4em;
	
			position: absolute;
			content: "";
			display: block;
			bottom: -12px;
			left: 50%;
			margin-left: -14px;
		}
		.scroll a {
			width: auto;
			font-size: 1.5em;
			line-height: 1.5em;
			text-decoration: none;
			margin: 0 15px;
			border-bottom: 3px solid transparent;
			&.active {
				font-size: 1.8em;
				border-bottom: 3px solid $color_celeste_approx;
			}
		}
	}
	.tsb-ic-wrp {
		display: flex;
		position: relative;
	}
	.tabbed-slidebox {
		position: relative;
		height: 100%;
		overflow: hidden;
	}
	&.btm .slider {
		margin-bottom: -50px;
	}
}
.tsb-hscroll.scroll-view {
	white-space: nowrap;
	margin: 0 auto;
  overflow: hidden;
	.scroll-bar {
		visibility: hidden;
	}
}