$custom-icon-font-size: 20px;
$custom-textbox-font-size: 18px;
$background-color: #b2b4ee; 
$btn-bg-color: #5051A6; 
$color-white: #ffffff;
$color-black: #000000;
$text-center: center;

@mixin setLinkSelectorStyle {
  &, &:hover, &:link, &:visited, &:focus {
        @content;
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin border-bottom($border) {
    border-bottom: $border;
}

@mixin border-top($border) {
    border-top: $border;
}

@mixin border-right($border) {
    border-right: $border;
}

@mixin border-left($border) {
    border-left: $border;
}