<style>
    .watermark {
        background-image: url(img/logot.png);
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }

    .question {
        background-color: #5061a6;
        color: white;
    }

    .question-icon {
        margin-left: -4%;
        padding: 0px;
        font-size: 27px;
    }

    .display-class {
        text-align: right;
    }
</style>

<ion-view view-title="Quick Poll" class="purple-back">
    <ion-content class="watermark">
        Feedback - Poll View
    </ion-content>
</ion-view>