<style>
    .watermark {
        background-image: url(img/logot.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
    }
</style>

<ion-view view-title="Edit Suggestion" class="purple-back watermark" hide-back-button="true">

    <ion-nav-buttons side="left">
        <a ng-click="vm.goBack()" class="button button-icon button-clear ion-ios-arrow-back sidebar-ion-navicon"></a>
    </ion-nav-buttons>

    <ion-content class="padding editCmpln">
       edit Suggestion
    </ion-content>

</ion-view>