<style>
    i.icon:active {
        color: #b2b4ee !important;
    }
</style>

<ion-tabs class="tabs-icon-top">

    <ion-tab title="Teacher's" icon-off="ion-ios-people-outline" icon-on="ion-ios-people complaint-ion-ios-people" href="#/management/suggestion/teacherSuggestion">
        <ion-nav-view name="for-teacher"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Other's" icon-off="ion-ios-flower-outline" icon-on="ion-ios-flower complaint-ion-ios-people" href="#/management/suggestion/suggestionForTeacherAssigned">
        <ion-nav-view name="for-other"></ion-nav-view>
    </ion-tab>

</ion-tabs>