<style>
    i.icon:active {
        color: #b2b4ee !important;
    }
</style>

<ion-tabs class="tabs-icon-top">

    <ion-tab title="For You" icon-off="ion-ios-people-outline" icon-on="ion-ios-people complaint-ion-ios-people" href="#/management/suggestion/suggestionForTeacherSelf">
        <ion-nav-view name="self"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Assigned to You" icon-off="ion-ios-flower-outline" icon-on="ion-ios-flower complaint-ion-ios-people" href="#/management/suggestion/suggestionForTeacherAssigned">
        <ion-nav-view name="assigned"></ion-nav-view>
    </ion-tab>

</ion-tabs>