<style>
    .watermark {
        background-image: url(img/logot.png);
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
</style>

<ion-view view-title="Suggestions" hide-back-button="true" class="watermark purple-back">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon sidebar-ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="padding" id="complaints">
        Suggestion By Teacher State 
    </ion-content>
</ion-view>