<div class="list list-inset">
   <label class="item item-input" style="margin-bottom:3px">
       <i class="icon ion-person placeholder-icon login-ion-person"></i>
       <input type="text" class="loginUsername" ng-model="data.username" placeholder="Username" >
   </label>
   <label class="item item-input">     
       <i class="icon ion-locked placeholder-icon login-ion-locked"></i>
       <input type="password" class="loginPassword" ng-model="data.password" placeholder="Password">
   </label>
</div>
<button class="button button-block button-positive" ng-click="login(data)">Login</button>