<div class="list list-inset">
    <form name="loginContact" ng-submit="managementLogin(managementData)">
        <div class="item item-input login-item-input" style="min-height:59px;margin-bottom:4px">
            <i class="icon ion-person placeholder-icon login-ion-person"></i>
            <input type="text" class="loginUsername animated bounceInLeft" ng-model="managementData.name" placeholder="Username" required>
        </div>
        <div class="item item-input login-item-input" style="margin-bottom:18px">
            <i class="icon ion-locked placeholder-icon login-ion-locked"></i>
            <input type="password" class="loginPassword animated bounceInRight" ng-model="managementData.password" placeholder="Password" required>
        </div>
        <button type="submit" class="button button-block animated bounceInUp login-btn-purpleb">Login</button>
    </form>
</div>