<style>
  i.icon:active{
    color: #b2b4ee !important;
  }
</style>

<ion-tabs class="tabs-icon-top">

  <ion-tab title="New assignment" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/management/homework/new-assignment">
    <ion-nav-view name="new-homework"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Due assignment" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/management/homework/due-assignment">
    <ion-nav-view name="due-homework"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Old assignment" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/management/homework/old-assignment">
    <ion-nav-view name="old-homework"></ion-nav-view>
  </ion-tab>

</ion-tabs>