<ion-modal-view class="ion-nifty-modal complaint-ion-nifty-modal" style="max-height:900px;">
  <div class="ion-modal-content-custom" style="background-color:#6300b0; color:#d1bae2;">
    <ion-header-bar class="bar-royal cmplModalHeader">
      <b class="title cmplModalTitle">{{cmpl.title}}</b>
      <div class="buttons">
        <i ng-click="closeModal()" class="ion-close close-button"></i>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
      <h4>Description </h4>{{cmpl.description}}
      <h4 ng-show="cmpl.rca.length">Root Cause: </h4>{{cmpl.rca}}
      <h4 ng-show="cmpl.authorityName.length">Authority Name: </h4>{{cmpl.authorityName}}
      <h4>Status: </h4>{{cmpl.statusName}}
      <div class="row cmplModalDate">
        <div class="col">
          <h4>Create Date </h4>{{cmpl.createdAt}}
        </div>
        <div class="col">
          <h4 ng-show="cmpl.closedOn.length">Closed Date</h4>{{cmpl.closedOn}}
        </div>
      </div>
    </ion-content>
    <div class="bar bar-footer" style="background-color:#8405e7; color:#d1bae2;">
      <button class="button button-clear button-calm">Left</button>
      <button class="button button-clear button-balanced">Right</button>
    </div>
  </div>
</ion-modal-view>