<ion-view view-title="Teacher's Complaints" align-title="center" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" id="complaints">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list class="teacher-complaint-list">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="cmpl in teacherComplaints" type="item-text-wrap" href="#/tab/view-teacher-complaint/{{cmpl.id}}">
        <h2>{{cmpl.categoryName}}</h2>
        <p>{{cmpl.title}}</p>
        <i id="{{cmpl.id}}" class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="tabs tabs-icon-top tabs-color-active-calm">
    <a class="tab-item active" ui-sref="tab.teacher-complaint">
      <i class="icon ion-ios-people"></i> Teacher'
    </a>
    <a class="tab-item" ui-sref="tab.other-complaint">
      <i class="icon ion-ios-flower-outline"></i> Other's
    </a>
  </div>
</ion-view>