<ion-view view-title="Other's Complaints">
  <ion-content class="padding" id="complaints">
     <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
     <ion-list>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="cmpl in otherComplaints" type="item-text-wrap">
           <h2>{{cmpl.categoryName}}</h2>
           <p>{{cmpl.title}}</p>
           <p class="icon icon-accessory">
             {{cmpl.statusName}}
           </p>
        </ion-item>
     </ion-list>
   </ion-content>
</ion-view>