<ion-view view-title="Account">
	<ion-nav-buttons side="right">
		<a menu-toggle="right" class="button button-icon button-clear ion-power sidebar-ion-navicon" ng-click="vm.logout()"></a>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<label class="item item-input">
		  	<span class="input-label">Username: {{vm.parentName}}</span>
		  </label>
			<label class="item item-input" ng-show="vm.childs.length === 1">
		  	<span class="input-label">Student Name: {{vm.childs[0].studentName}}</span>
		  </label>
			<label class="item item-input" ng-hide="vm.childs.length === 1">
		  	<span class="input-label">Student Name:</span>
				<span ng-repeat="child in vm.childs">{{child.studentName}}</span>
		  </label>
			<label class="item item-input">
		  	<span class="input-label">Contact No: {{vm.contactNo}}</span>
		  </label>
			<label class="item item-input">
		  	<span class="input-label">Email Id: {{vm.emailId}}</span>
		  </label>
		</ion-list>
	</ion-content>
</ion-view>