<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="sidebar-header" align-title="center">
      <ion-nav-back-button style="color:white">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon sidebar-ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="sidebar-header">
      <h1 class="title sidebar-header-title">SRGS</h1>
    </ion-header-bar>
    <ion-content class="sidebar sidebar-purplel">
      <ion-list id="list-item">
        <ion-item menu-close href="#/yugma/dashboard" class="item item-icon-left sidebar-item-content">
          <i class="icon ion-home sidebar-ion-home"></i> Dashboard
        </ion-item>
        <ion-item menu-close href="#/yugma/complaints/teacher-complaint" class="ripplelink item item-icon-left sidebar-item-content">
          <i class="icon ion-ios-chatboxes sidebar-ion-ios-chatboxes"></i> Complaints
        </ion-item>
        <ion-item menu-close href="#/yugma/suggestions/suggestionByParent" class="ripplelink item item-icon-left sidebar-item-content">
          <i class="icon ion-ios-chatboxes sidebar-ion-ios-chatboxes"></i> Suggestions
        </ion-item>
        <ion-item menu-close href="#/yugma/homework" class="item item-icon-left sidebar-item-content">
          <i class="icon ion-ios-book sidebar-ion-ios-gear"></i> Home Work
        </ion-item>
        <ion-item menu-close href="#/yugma/timetable" class="ripplelinkitem item-icon-left sidebar-item-content">
          <i class="icon ion-ios-clock sidebar-ion-ios-gear"></i> Time Table
        </ion-item>
        <ion-item menu-close href="#/yugma/foodmenu" class="ripplelink item item-icon-left sidebar-item-content">
          <i class="icon ion-fork sidebar-ion-ios-gear"></i> Food Menu
        </ion-item>
        <ion-item menu-close href="#/yugma/account" class="item item-icon-left sidebar-item-content">
          <i class="icon ion-person sidebar-ion-ios-gear"></i> Account
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>