<style>
	.watermark {
		background-image: url(img/logot.png);
		background-position: center;
		background-size: 300px;
		background-repeat: no-repeat;
	}
</style>
<ion-view view-title="Account" class="purple-back">
	<ion-nav-buttons side="right">
		<a menu-toggle="right" class="button button-icon button-clear ion-power sidebar-ion-navicon" ng-click="vm.logout()"></a>
	</ion-nav-buttons>
	<ion-content class="watermark account">
		<ion-list>
			<label class="item item-input card">
				<span class="input-label"><b>Username:</b> {{vm.parentName}}</span>
			</label>
			<label class="item item-input card">
				<span class="input-label"><b>Role: </b> {{vm.role}}</span>
			</label>
		</ion-list>
	</ion-content>
</ion-view>