<style>
    .watermark {
        background-image: url(img/logot.png);
        background-position: center;
        background-size: 300px;
        background-repeat: no-repeat;
    }
    .tname {
        font-size: 11px;
        float: right;
        margin-top: 5px;
    }
    .footer {
        background:#5051a6;
        color:white;
    }
</style>
<ion-view view-title="Suggestion For Parents" class="purple-back watermark">
    <ion-content>

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

        <div class="card" ng-repeat="cmpl in suggestionsByTeacher">
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col col-70">
                        <h3><b>{{cmpl.suggestionTitle}}</b></h3>
                    </div>
                    <div class="col" style="text-align:right">
                        <p style="font-size:10px"><span am-time-ago="cmpl.createdAt"></span></p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-100">
                        <p style="font-size:13px;height:100%">{{cmpl.suggestionDesc}}</p>
                    </div>
                </div>
                <div class="footer item item-divider text-left">
                    {{cmpl.student}}
                    <span class="tname text-right">-{{cmpl.teacher}}</span>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
