<style>
    i.icon:active{
        color: #b2b4ee !important;
    }
</style>

<ion-tabs class="tabs-icon-top">

   <ion-tab title="Teacher's" icon-off="ion-ios-people-outline" icon-on="ion-ios-people complaint-ion-ios-people" href="#/management/complaints/teacher-complaint">
      <ion-nav-view name="complaint-teacher"></ion-nav-view>
   </ion-tab>

   <ion-tab title="Other's" icon-off="ion-ios-flower-outline" icon-on="ion-ios-flower complaint-ion-ios-people" href="#/management/complaints/other-complaint">
      <ion-nav-view name="complaint-other"></ion-nav-view>
   </ion-tab>

</ion-tabs>