<ion-view view-title="{{title.name}}">
    <ion-content class="padding">
        <div class="row loginRemovePadding">
            <div class="col">
                <label class="item item-radio login-item-radio" >
                <input type="radio" name="tab" ng-click="getComplaint()" ng-model="category.state" value="teacher">
                <div class="radio-content">
                    <div class="item-content login-item-content">
                    Teacher's
                    </div>
                    <!--<i class="radio-icon ion-person-stalker login-ion-person-stalker"></i>-->
                </div>
            </label>
            </div>
            <div class="col">
                <label class="item item-radio login-item-radio">
                <input type="radio" name="tab" ng-click="getComplaint()" ng-model="category.state" value="other">
                <div class="radio-content">
                    <div class="item-content">
                    Other's
                    </div>
                    <!--<i class="radio-icon ion-university login-ion-university"></i>-->
                </div>
            </label>
            </div>
            </div>
        <div ui-view></div>
    </ion-content>
</ion-view>