<style>
  .watermark {
    background-image: url(img/logot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
</style>

<ion-view view-title="Edit Complaints" class="purple-back watermark" hide-back-button="true">

  <ion-nav-buttons side="left">
    <a ng-click="vm.goBack()" class="button button-icon button-clear ion-ios-arrow-back sidebar-ion-navicon"></a>
  </ion-nav-buttons>

  <ion-content class="padding editCmpln">
    <ion-list>
      <div class="row title">
        Assign to:
      </div>
      <div class="row ">
        <select class="button-block-margin" ng-options="val as val.name for val in vm.authors track by val.id" ng-model="vm.selectAuthor">
            <option value="" style="display:none;">select authors</option>
        </select>
      </div>
    </ion-list>
    <ion-list>
      <div class="row title">
        Priority:
      </div>
      <div class="row ">
        <select class="button-block-margin" ng-options="val as val.name for val in vm.priorities track by val.id" ng-model="vm.selectPriority">
          <option value="" style="display:none;">select priority</option>
      </select>
      </div>
    </ion-list>
    <ion-list ng-hide="vm.statusId == 3">
      <div class="row title">
        Status:
      </div>
      <div class="row ">
        <ion-checkbox style="margin:15px" ng-model="vm.status" class="form-select checkbox-stable editCkb check">InProgress</ion-checkbox>
      </div>
    </ion-list>
    <ion-list>
      <button class="button button-full login-btn-purpleb" style="width: 90%;margin: 15px;" ng-click="vm.editComplaint()">
        SUBMIT
      </button>
    </ion-list>
  </ion-content>

</ion-view>