<style>
  .watermark {
    background-image: url(img/logot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
</style>
<ion-view view-title="Edit Complaints" hide-back-button="true" class="purple-back watermark">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back sidebar-ion-navicon" ng-click="vm.goBack()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <ion-list>
      <label>Complaint assign to:</label>
      <select class="button-block-margin" ng-options="val as val.name for val in vm.authors track by val.id" ng-model="vm.selectAuthor">
          <option value="" style="display:none;">select authors</option>
      </select>
    </ion-list>
    <ion-list>
      <label>Complaint priority:</label>
      <select class="button-block-margin" ng-options="val as val.name for val in vm.priorities track by val.id" ng-model="vm.selectPriority">
          <option value="" style="display:none;">select priority</option>
      </select>
    </ion-list>
    <ion-list ng-hide="vm.statusId == 3">
      <label>Complaint status:</label>
      <ion-checkbox style="margin:15px" ng-model="vm.status" class="form-select checkbox-royal"> InProgress </ion-checkbox>
    </ion-list>
    <ion-list>
      <button class="button button-full button-positive" style="width: 90%;margin: 15px;" ng-click="vm.editComplaint()">
        SUBMIT
      </button>
    </ion-list>
  </ion-content>
  
</ion-view>