<style>
  .teacher-comment-list{
    margin: 3px 0px 3px 0px;
  }
  .watermark-addComp {
    background-image: url(img/logot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }

  ::-webkit-input-placeholder {
    color:    white !important;
    padding: 10px !important;
  }
</style> 
<ion-view view-title="{{vm.headetTilte}}" hide-back-button="true" class="purple-back watermark-addComp">
   <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-android-arrow-back sidebar-ion-navicon" ng-click="vm.goBack()"></button>
   </ion-nav-buttons>
   <ion-content class="padding">
      <ion-list>
         <ion-item ng-repeat="cmpl in vm.comments" class="teacher-comment-list animated slideInLeft">
            <h2 style="white-space:normal">{{cmpl.comment}}</h2>
            <p>{{cmpl.parentName}}</p>
            <p>{{cmpl.createdAt}}</p>
         </ion-item>
      </ion-list>
   </ion-content>
   <div class="bar bar-footer commentForm">
      <form name="commentForm" class="row" ng-submit="vm.addComment(vm.teacher)">
         <div class="col col-90 txtArea">
            <textarea ng-model="vm.teacher.comment" placeholder="Type a comment..." ng-disabled="vm.statusId == 4" required></textarea>
         </div>
         <div class="col ">
            <button type="submit" class="button button-icon icon-left ion-android-send commentBtn"></button>
         </div>
      </form>
   </div>
</ion-view>