<style>
  .watermark-addComp {
    background-image: url(img/logot.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  }
  
  ::-webkit-input-placeholder {
    color: white !important;
    padding: 10px !important;
  }
</style>
<ion-view view-title="{{vm.headetTilte}}" hide-back-button="true" class="purple-back watermark-addComp">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-android-arrow-back sidebar-ion-navicon" ng-click="vm.goBack()"></button>
  </ion-nav-buttons>
  <ion-content class="padding commentListMarginBottom">
    <div class="card card-complaint" ng-repeat="cmpl in vm.comments">
      <div class="item item-text-wrap card-text">
        <div class="commentParentName">{{cmpl.parentName}}</div>
        <div class="commentCreateDate"><span am-time-ago="cmpl.createdAt"></span></div>
        <div>{{cmpl.comment}}</div>
      </div>
    </div>
  </ion-content>
  <div class="commentForm" ng-hide="vm.statusId == 4 || vm.statusId == 6">
    <form name="commentForm" class="row" ng-submit="vm.addComment(vm.teacher)">
      <div class="row" style="margin-top:-10px !important">
        <div class="col col-90">
          <textarea row="5" ng-model="vm.teacher.comment" placeholder="Type a comment..." required></textarea>
        </div>
        <div class="col commentBtn">
          <button type="submit" class="button button-icon icon-left ion-android-send" style=""></button>
        </div>
      </div>
    </form>
  </div>
</ion-view>